

 .button-site .li {
    --c: #ffffff;
    color: var(--c);
    font-size: 16px;
    border: 0.2em solid var(--c);
    border-radius: 2em;
    width: 10em;
    height: 3em;
    font-weight: 600;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

 .button-site .li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.button-site .li:hover {
    color: black;
}

.button-site .li:hover span {
    transform: translateY(0) scale(2);
}

.button-site .li span:nth-child(1) {
    --n: 1;
}

.button-site .li span:nth-child(2) {
    --n: 2;
}

.button-site .li span:nth-child(3) {
    --n: 3;
}

.button-site .li span:nth-child(4) {
    --n: 4;
}