
.nav-mobile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
  border: 1px solid;
}
.nav-mobile .judul{
  color: #ffffff;
}
#checkbox{
  display: none;
}
.nav-menu{
  display: flex;
  position: absolute;
  background: #07051c;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.item-notif-mobile{
  margin: 18px 0px 100px 30px;
  border-radius: 50px;
  font-size: 1em;
  background: white;
  color: #07051c;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nav-menu ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
  width: 100%;
  color: white;
}
.nav-menu ul :link{
  margin: 0 30px;
  font-size: 2em;
  color: white;
}
  .toggle {
    z-index: 99999;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: rgb(176, 92, 255);
    border-radius: 4px;
  }
  
  #bar2 {
    transition-duration: .8s;
  }
  
  #bar1,#bar3 {
    width: 70%;
  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }