*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #ffffff;
}
.head{
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  align-items: center;
  height: 100px;
}
.head h1{
  color: #ffffff;
  font-size: 2.5em;
}
.nav{

  display: flex;
  align-items: center;
  gap: 10px;
}
.nav .link-item{
  padding: 10px 30px;
  border-radius: 500px;
  color: #ffffff;
  font-weight: 600;
}
.nav .link-item:hover{
  transition: 0.5s;
  transform: scale(1.3);
}
.site{
  border: 2px solid;
  padding: 10px 30px;
  border-radius: 500px;
  color: #ffffff;
  font-weight: 200;
}
.judul{
  font-size: 3.5em;
  font-weight: 600;
}