@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,200&display=swap');
body {
  margin: 0;
  background-color: #07051c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar {height:10px;width: 5px;background: rgb(204, 204, 204);}
::-webkit-scrollbar-thumb {background-color: rgba(86,6,125,1);-moz-border-radius: 10px;border-radius: 10px;}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.button-hoveride-profile {
  padding: 15px 30px;
  border-radius: 3px;
  border: none;
  background-color: rgba(86,6,125,1);
  -webkit-box-reflect: below 3px linear-gradient(transparent, rgba(255, 255, 255, 0.5));
}
.button-hoveride-profile:hover {
  box-shadow: 0px 0px 2px rgb(185, 74, 207);
  background-color: #07051c;
  color: rgb(231, 125, 200);
}
.profile-colone:hover{
  background: #0d0927;
}
